<div class="bootstrap-filestyle input-group">
    <input type="text" class="form-control" #textInput 
    [placeholder]="placeholder"
    [ngModel]="formControlValue"
    [minlength]="minlength"
    [maxlength]="maxlength"
    [readonly]="readonly"
    >
    <span class="group-span-filestyle input-group-btn" tabindex="0" (click)="getCode()" *ngIf="!disabled">
        <label for="filestyle-4" class="btn btn-primary ">
            <span class="icon-span-filestyle fa fa-refresh"></span> 
<span class="buttonText"></span></label></span>
</div>