<!-- Begin page -->
<div id="wrapper">
    <home-topbar></home-topbar>
    <home-leftSidebar></home-leftSidebar>
    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->
    <div class="content-page">
        <!-- Start content -->
        <div class="content">
            <div class="container">

                <!-- Page-Title -->
                <div class="row">
                    <div class="col-sm-12">
                        <h4 class="page-title">Blank Page</h4>
                        <ol class="breadcrumb">
                            <li>
                                <a href="#">Ubold</a>
                            </li>
                            <li>
                                <a href="#">Pages</a>
                            </li>
                            <li class="active">
                                Blank Page
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
            <!-- container -->

        </div>
        <!-- content -->

        <footer class="footer">
            2015 © Ubold.
        </footer>

    </div>
    <!-- ============================================================== -->
    <!-- End Right content here -->
    <!-- ============================================================== -->
    <home-rightSidebar></home-rightSidebar>

</div>
<!-- END wrapper -->