<div class="modal-header">
    <h4 class="modal-title">Hi there!</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
</div>
<div class="modal-body">
    <div class="card-box">
           <select class="form-control" formControlName="falign" placeholder="垂直对齐">-->
                         <option *ngFor="let valign of valigns" [value]="valign.code">{{valign.text}}</option>
                       </select>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="activeModal.close('Close click')">Close</button>
</div>