<form class="form-horizontal" role="form" [formGroup]="ngbForm" (ngSubmit)="onSubmit()">
  <ul class="nav nav-tabs navtab-bg nav-justified">
    <li class="active">
      <a href="#home" data-toggle="tab" aria-expanded="false">
        <span class="visible-xs"><i class="fa fa-home"></i></span>
        <span class="hidden-xs">VIEW</span>
      </a>
      <li class="">
        <a href="#profile" data-toggle="tab" aria-expanded="true">
          <span class="visible-xs"><i class="fa fa-user"></i></span>
          <span class="hidden-xs">GRID</span>
        </a>
        <li class="">
          <a href="#columns" data-toggle="tab" aria-expanded="false">
            <span class="visible-xs"><i class="fa fa-envelope-o"></i></span>
            <span class="hidden-xs">columns</span>
          </a>
          <li class="">
            <a href="#settings" data-toggle="tab" aria-expanded="false">
              <span class="visible-xs"><i class="fa fa-cog"></i></span>
              <span class="hidden-xs">tree</span>
            </a>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="home">
      <div class="form-group">
        <label class="col-sm-2 control-label">视图编号</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" placeholder="视图编号" formControlName="dataViewCode" />
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">视图名称</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" placeholder="视图名称" formControlName="dataViewName" />
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">SQLID</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" placeholder="SQLID" formControlName="sqlid" />
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">备注</label>
        <div class="col-sm-10">
          <input type="textare" class="form-control" placeholder="备注" formControlName="remark" />
        </div>
      </div>
    </div>
    <div class="tab-pane" id="profile">
      <p>Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis
        vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt.Cras dapibus. Vivamus elementum semper
        nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim.</p>
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis
        natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque
        eu, pretium quis, sem. Nulla consequat massa quis enim.</p>
    </div>

    <!--设置列-->
    <div class="tab-pane" id="columns">
      <div class="form-group">
        <div class="col-sm-12">
          <div class="card-box">
            <button type="button" class="btn btn-info waves-effect waves-light" (click)="alert()">生成列表</button>
          </div>
        </div>
        <div class="col-sm-12">
          <div class="card-box overflow">
            <table class="table table table-hover table-bordered m-0 table-actions-bar" formGroupName="options">
              <!--formGroupName 作用域-->
              <thead>
                <tr class="trnowrap">
                  <th>别名</th>
                  <th>字段</th>
                  <th>修改方式</th>
                  <th>详情显示</th>
                  <th>新增显示</th>
                  <th>列表显示</th>
                  <th>数据类型</th>
                  <th>字段类型</th>
                  <th>最大长度</th>
                  <th>对齐方式</th>
                  <th>表头对齐</th>
                  <th>页尾对齐</th>
                  <th>单选</th>
                  <th>多选</th>
                  <th>垂直对齐</th>
                  <th>表头对齐</th>
                  <th>宽度</th>
                  <th>是否排序</th>
                  <th>排序规则</th>
                  <th>排序字段</th>
                  <th>序号</th>
                </tr>
              </thead>
              <tbody *ngIf="formData.options && formData.options.columns" formArrayName="columns">
                <tr *ngFor="let columOptions of ngbForm.controls.options.controls.columns.controls; let idx=index" [formGroupName]="idx">
                  <td><input type="text" class="form-control wd100" placeholder="别名" formControlName="title" /></td>
                  <td>{{field}}</td>
                  <td><input type="text" class="form-control wd100" placeholder="修改方式" formControlName="updateType" /></td>
                  <td><input type="text" class="form-control wd100" placeholder="详情显示" formControlName="isView" /></td>
                  <td><input type="text" class="form-control wd100" placeholder="新增显示" formControlName="isInsert" /></td>
                  <td><input type="text" class="form-control wd100" placeholder="列表显示" formControlName="visible" /></td>
                  <td>{{dataType}}</td>
                  <td><input type="text" class="form-control wd100" placeholder="字段类型" formControlName="fieldType" /></td>
                  <td>{{maxlength}}</td>
                  <td><input type="text" class="form-control wd100" placeholder="对齐方式" formControlName="align" /></td>
                  <td><input type="text" class="form-control wd100" placeholder="表头对齐" formControlName="halign" /></td>
                  <td><input type="text" class="form-control wd100" placeholder="页尾对齐" formControlName="falign" /></td>
                  <td><input type="text" class="form-control wd100" placeholder="单选" formControlName="radio" /></td>
                  <td><input type="text" class="form-control wd100" placeholder="多选" formControlName="checkbox" /></td>
                  <td><input type="text" class="form-control wd100" placeholder="垂直对齐" formControlName="valign" /></td>
                  <td><input type="text" class="form-control wd100" placeholder="表头对齐" formControlName="halign" /></td>
                  <td><input type="text" class="form-control wd100" placeholder="宽度" formControlName="width" /></td>
                  <td><input type="text" class="form-control wd100" placeholder="是否排序" formControlName="sortable" /></td>
                  <td><input type="text" class="form-control wd100" placeholder="排序规则" formControlName="order" /></td>
                  <!--<td><input type="text" class="form-control wd100" placeholder="格式化" formControlName="formatter" /></td>-->
                  <!--<td><input type="text" class="form-control wd100" placeholder="页尾格式" formControlName="footerFormatter" /></td>-->
                  <td><input type="text" class="form-control wd100" placeholder="排序字段" formControlName="sortName" /></td>
                  <td><input type="text" class="form-control wd100" placeholder="排序" formControlName="idx" /></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="tab-pane" id="settings">
      <p>Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis
        vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt.Cras dapibus. Vivamus elementum semper
        nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim.</p>
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis
        natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque
        eu, pretium quis, sem. Nulla consequat massa quis enim.</p>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">

      <!--<div class="text-right p-20">-->
      <div class="text-right">
        <dl>
          <button type="button" class="btn w-sm btn-white waves-effect">Cancel</button>
          <button type="submit" class="btn w-sm btn-default waves-effect waves-light" [disabled]="!ngbForm.valid">保存</button>
        </dl>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <div *ngIf="formErrors && formErrors.length > 0" class="alert alert-danger">
        <p *ngFor="let error of formErrors">{{ error }} <br></p>
      </div>
    </div>
  </div>

</form>

<!--<div class="panel panel-default panel-border">-->
<!--<div class="panel-heading">
										<h3 class="panel-title">Panel Default</h3>
									</div>-->
<!--<div class="panel-body">

   <hr>
    <div class="hidden-print">
      <div class="pull-right">
        <a href="#" class="btn btn-primary waves-effect waves-light">Submit</a>
      </div>
    </div>
  </div>
</div>-->