<form class="form-horizontal" role="form" [formGroup]="ngbForm" (ngSubmit)="onSubmit()">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a href="#view" data-toggle="tab" aria-expanded="true" class="nav-link active">
                                            View
                                        </a>
    </li>
    <li class="nav-item">
      <a href="#function" data-toggle="tab" aria-expanded="false" class="nav-link">
                                            Function
                                        </a>
    </li>
    <li class="nav-item">
      <a href="#grid" data-toggle="tab" aria-expanded="false" class="nav-link">
                                            Grid
                                        </a>
    </li>
    <li class="nav-item">
      <a href="#columns" data-toggle="tab" aria-expanded="false" class="nav-link">
                                            Columns
                                        </a>
    </li>
    <li class="nav-item">
      <a href="#filter" data-toggle="tab" aria-expanded="false" class="nav-link">
                                            Filter
                                        </a>
    </li>
    <li class="nav-item">
      <a href="#tree" data-toggle="tab" aria-expanded="false" class="nav-link">
                                            Tree
                                        </a>
    </li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="view">
      <div class="form-group row">
        <label class="col-sm-2 control-label">视图编号</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" placeholder="视图编号" formControlName="dataViewCode" />
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 control-label">视图名称</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" placeholder="视图名称" formControlName="dataViewName" />
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 control-label">sqlId</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" placeholder="sqlId" formControlName="sqlId" (click)="openSelector()" readonly/>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 control-label">备注</label>
        <div class="col-sm-10">
          <textarea rows="5" cols="20" class="form-control" placeholder="备注" formControlName="remark"></textarea>
        </div>
      </div>
    </div>
    <!--设置功能按钮-->
    <div class="tab-pane" id="function">
      <div class="card-box">
        <div class="form-group row">

          <!--show window option-->
          <button type="button" class="btn btn-default" (click)="openAdd()"><i class="fa fa-plus m-r-5"></i>添加</button>

          <div class="checkbox checkbox-primary checkbox-inline" style="padding-left: 35px;">
            <input type="checkbox" id="insertCheckbox" (change)="checkFunc('create')" [checked]="ischecked('create')">
            <label for="insertCheckbox"> 增加 </label>
          </div>

          <div class="checkbox checkbox-pink checkbox-inline" style="padding-left: 35px;">
            <input type="checkbox" id="removeCheckbox" (change)="checkFunc('delete')" [checked]="ischecked('delete')">
            <label for="removeCheckbox"> 删除 </label>
          </div>

          <div class="checkbox checkbox-warning checkbox-inline" style="padding-left: 35px;">
            <input type="checkbox" id="updateCheckbox" (change)="checkFunc('update')" [checked]="ischecked('update')">
            <label for="updateCheckbox"> 修改 </label>
          </div>

          <div class="checkbox checkbox-info checkbox-inline" style="padding-left: 35px;">
            <input type="checkbox" id="selectCheckbox" (change)="checkFunc('retrieve')" [checked]="ischecked('retrieve')">
            <label for="selectCheckbox"> 查看 </label>
          </div>
        </div>
      </div>
      <div class="card-box overflow">
        <table class="table table table-hover table-bordered m-0 table-actions-bar">
          <!--formGroupName 作用域-->
          <thead>
            <tr class="trnowrap">
              <th>title</th>
              <th>url</th>
              <th>option</th>
              <th>Nav/Row</th>
              <th>remove</th>
            </tr>
          </thead>
          <tbody formArrayName="buttons">
            <tr class="tr-center" (click)="openOption(optioncontent)" *ngFor="let fbt of ngbForm.controls.buttons.controls; let idx=index"
              [formGroupName]="idx">
              <!--show window option-->
              <ng-template #optioncontent let-c="close" let-d="dismiss">
                <div class="modal-header">
                  <!--<h4 class="modal-title">Options</h4>-->
                </div>
                <div class="modal-body">
                  <div class="form-group row">
                    <label class="col-sm-2 control-label">title</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" placeholder="title" formControlName="title" />
                    </div>
                  </div>

                  <div class="form-group row">
                    <label class="col-sm-2 control-label">url</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" placeholder="url" formControlName="url" />
                    </div>
                  </div>

                  <div class="form-group row">
                    <label class="col-sm-2 control-label">Nav/Row</label>
                    <div class="col-sm-10">
                      <select class="form-control" formControlName="location" placeholder="location">
                            <option *ngFor="let location of locations" [value]="location.code">{{location.text}}</option>
                         </select>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-sm-2 control-label">option</label>
                    <div class="col-sm-10">
                      <select class="form-control" formControlName="option" placeholder="option">
                          <option *ngFor="let fcb of buttons" [value]="fcb.code">{{fcb.text}}</option>
                        </select>
                    </div>
                  </div>

                  <div class="form-group row">
                    <label class="col-sm-2 control-label">modal</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" placeholder="modal" formControlName="modal" />
                    </div>
                  </div>

                  <div class="form-group row">
                    <label class="col-sm-2 control-label">size</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" placeholder="size" formControlName="size" />
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
                </div>
              </ng-template>
              <!--show window option-->
              <td>{{fbt.controls.title._value}}</td>
              <td>{{fbt.controls.url._value}}</td>
              <td>{{fbt.controls.option._value}}</td>
              <td>{{fbt.controls.location._value}}</td>
              <td>
                <a class="table-action-btn" (click)="removeControls(ngbForm.controls.buttons,idx)">
                  <p><i class="md md-highlight-remove"></i></p>
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <!--设置 table-bootstrap -->
    <div class="tab-pane" id="grid" formGroupName="options">
      <div class="card-box">
        <div class="form-group row">
          <label class="col-sm-2 control-label">url</label>
          <div class="col-sm-4">
            <input type="text" class="form-control" placeholder="url" formControlName="url" />
          </div>
          <label class="col-sm-2 control-label">method</label>
          <div class="col-sm-4">
            <select class="form-control" formControlName="method" placeholder="method">
                  <option *ngFor="let method of methods" [value]="method.code">{{method.text}}</option>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 control-label">pagination</label>
          <div class="col-sm-4">
            <div class="checkbox checkbox-pink">
              <input id="pagination" type="checkbox" formControlName="pagination">
              <label for="pagination"></label>
            </div>
          </div>
          <label class="col-sm-2 control-label">pageSize</label>
          <div class="col-sm-4">
            <input type="text" class="form-control" placeholder="pageSize" formControlName="pageSize" />
          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-2 control-label">showExport</label>
          <div class="col-sm-4">
            <div class="checkbox checkbox-inverse">
              <input id="showExport" type="checkbox" formControlName="showExport">
              <label for="showExport"></label>
            </div>
          </div>
          <label class="col-sm-2 control-label">sortable</label>
          <div class="col-sm-4">
            <div class="checkbox checkbox-inverse">
              <input id="sortable" type="checkbox" formControlName="sortable">
              <label for="sortable"></label>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-2 control-label">undefinedText</label>
          <div class="col-sm-4">
            <input type="text" class="form-control" placeholder="undefinedText" formControlName="undefinedText" />
          </div>
          <label class="col-sm-2 control-label">searchText</label>
          <div class="col-sm-4">
            <input type="text" class="form-control" placeholder="searchText" formControlName="searchText" />
          </div>
        </div>

        <div class="form-group row">

          <label class="col-sm-2 control-label">dataField</label>
          <div class="col-sm-4">
            <input type="text" class="form-control" placeholder="dataField" formControlName="dataField" />
          </div>

          <!--<label class="col-sm-2 control-label">queryParamsType</label>
          <div class="col-sm-4">
               <select class="form-control" formControlName="queryParamsType" placeholder="queryParamsType">
                      <option *ngFor="let queryParamsType of queryParamsTypes" [value]="queryParamsType.code">{{queryParamsType.text}}</option>
               </select>
          </div>-->
          <label class="col-sm-2 control-label">showToggle</label>
          <div class="col-sm-4">
            <div class="checkbox checkbox-inverse">
              <input id="showToggle" type="checkbox" formControlName="showToggle">
              <label for="showToggle"></label>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-2 control-label">totalField</label>
          <div class="col-sm-4">
            <input type="text" class="form-control" placeholder="totalField" formControlName="totalField" />
          </div>
          <label class="col-sm-2 control-label">selectItemName</label>
          <div class="col-sm-4">
            <input type="text" class="form-control" placeholder="selectItemName" formControlName="selectItemName" />
          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-2 control-label">smartDisplay</label>
          <div class="col-sm-4">
            <div class="checkbox checkbox-inverse">
              <input id="smartDisplay" type="checkbox" formControlName="smartDisplay">
              <label for="smartDisplay"></label>
            </div>
          </div>
          <label class="col-sm-2 control-label">escape</label>
          <div class="col-sm-4">
            <div class="checkbox checkbox-inverse">
              <input id="escape" type="checkbox" formControlName="escape">
              <label for="escape"></label>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-2 control-label">searchOnEnterKey</label>
          <div class="col-sm-4">
            <div class="checkbox checkbox-inverse">
              <input id="searchOnEnterKey" type="checkbox" formControlName="searchOnEnterKey">
              <label for="searchOnEnterKey"></label>
            </div>
          </div>
          <label class="col-sm-2 control-label">strictSearch</label>
          <div class="col-sm-4">
            <div class="checkbox checkbox-inverse">
              <input id="strictSearch" type="checkbox" formControlName="strictSearch">
              <label for="strictSearch"></label>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-2 control-label">searchTimeOut</label>
          <div class="col-sm-4">
            <input type="text" class="form-control" placeholder="searchTimeOut" formControlName="searchTimeOut" />
          </div>
          <label class="col-sm-2 control-label">trimOnSearch</label>
          <div class="col-sm-4">
            <input type="text" class="form-control" placeholder="trimOnSearch" formControlName="trimOnSearch" />
          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-2 control-label">showHeader</label>
          <div class="col-sm-4">
            <div class="checkbox checkbox-inverse">
              <input id="showHeader" type="checkbox" formControlName="showHeader">
              <label for="showHeader"></label>
            </div>

          </div>
          <label class="col-sm-2 control-label">showFooter</label>
          <div class="col-sm-4">
            <div class="checkbox checkbox-inverse">
              <input id="showFooter" type="checkbox" formControlName="showFooter">
              <label for="showFooter"></label>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-2 control-label">showColumns</label>
          <div class="col-sm-4">
            <!--<input type="text" class="form-control" placeholder="showColumns" formControlName="showColumns" />-->
            <div class="checkbox checkbox-inverse">
              <input id="showColumns" type="checkbox" formControlName="showColumns">
              <label for="showColumns"></label>
            </div>
          </div>
          <label class="col-sm-2 control-label">showRefresh</label>
          <div class="col-sm-4">
            <div class="checkbox checkbox-inverse">
              <input id="showRefresh" type="checkbox" formControlName="showRefresh">
              <label for="showRefresh"></label>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-2 control-label">showPaginationSwitch</label>
          <div class="col-sm-4">
            <div class="checkbox checkbox-inverse">
              <input id="showPaginationSwitch" type="checkbox" formControlName="showPaginationSwitch">
              <label for="showPaginationSwitch"></label>
            </div>
          </div>
          <label class="col-sm-2 control-label">idField</label>
          <div class="col-sm-4">
            <input type="text" class="form-control" placeholder="idField" formControlName="idField" />
          </div>
        </div>


        <div class="form-group row">
          <label class="col-sm-2 control-label">uniqueId</label>
          <div class="col-sm-4">
            <input type="text" class="form-control" placeholder="uniqueId" formControlName="uniqueId" />
          </div>
          <label class="col-sm-2 control-label">detailView</label>
          <div class="col-sm-4">
            <div class="checkbox checkbox-inverse">
              <input id="detailView" type="checkbox" formControlName="detailView">
              <label for="detailView"></label>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-2 control-label">clickToSelect</label>
          <div class="col-sm-4">
            <div class="checkbox checkbox-inverse">
              <input id="clickToSelect" type="checkbox" formControlName="clickToSelect">
              <label for="clickToSelect"></label>
            </div>
          </div>
          <label class="col-sm-2 control-label">singleSelect</label>
          <div class="col-sm-4">
            <div class="checkbox checkbox-inverse">
              <input id="singleSelect" type="checkbox" formControlName="singleSelect">
              <label for="singleSelect"></label>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-2 control-label">cardView</label>
          <div class="col-sm-4">
            <div class="checkbox checkbox-inverse">
              <input id="cardView" type="checkbox" formControlName="cardView">
              <label for="cardView"></label>
            </div>
          </div>
          <label class="col-sm-2 control-label">sortStable</label>
          <div class="col-sm-4">
            <div class="checkbox checkbox-inverse">
              <input id="sortStable" type="checkbox" formControlName="sortStable">
              <label for="sortStable"></label>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-2 control-label">sidePagination</label>
          <div class="col-sm-4">
            <select class="form-control" formControlName="sidePagination" placeholder="sidePagination">
                  <option *ngFor="let sidePagination of sidePaginations" [value]="sidePagination.code">{{sidePagination.text}}</option>
                </select>
          </div>

          <label class="col-sm-2 control-label">queryParamsType</label>
          <div class="col-sm-4">
            <select class="form-control" formControlName="queryParamsType" placeholder="queryParamsType">
                  <option *ngFor="let queryParamsType of createQueryParamsTypes" [value]="queryParamsType.code">{{queryParamsType.text}}</option>
                </select>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-2 control-label">pageNumber</label>
          <div class="col-sm-4">
            <input type="text" class="form-control" placeholder="pageNumber" formControlName="pageNumber" />
          </div>
          <label class="col-sm-2 control-label">search</label>
          <div class="col-sm-4">
            <div class="checkbox checkbox-inverse">
              <input id="search" type="checkbox" formControlName="search">
              <label for="search"></label>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-2 control-label">checkboxHeader</label>
          <div class="col-sm-4">
            <div class="checkbox checkbox-inverse">
              <input id="checkboxHeader" type="checkbox" formControlName="checkboxHeader">
              <label for="checkboxHeader"></label>
            </div>
          </div>
          <label class="col-sm-2 control-label">maintainSelected</label>
          <div class="col-sm-4">
            <div class="checkbox checkbox-inverse">
              <input id="maintainSelected" type="checkbox" formControlName="maintainSelected">
              <label for="maintainSelected"></label>
            </div>
          </div>
        </div>

      </div>
    </div>
    <!--设置 table-bootstrap -->


    <!--设置列-->
    <div class="tab-pane" id="columns">
      <div class="form-group row">
        <div class="col-sm-12">
          <div class="card-box">
            <button type="button" class="btn btn-info waves-effect waves-light" (click)="createColumnList()">生成列表</button>
          </div>
          <div class="card-box overflow">
            <table class="table table table-hover table-bordered m-0 table-actions-bar">
              <!--formGroupName 作用域-->
              <thead>
                <tr class="trnowrap">
                  <th>名称</th>
                  <th>字段</th>
                  <th>数据类型</th>
                  <th>修改方式</th>
                  <th>详情</th>
                  <th>新增</th>
                  <th>列表显示</th>
                  <th>字段类型</th>
                  <th>长度</th>
                  <!--<th>序号</th>-->
                  <th>更多</th>
                </tr>
              </thead>
              <tbody formArrayName="columns">
                <tr class="tr-center" *ngFor="let columOptions of ngbForm.controls.columns.controls; let idx=index" [formGroupName]="idx">
                  <td><input type="text" class="form-control" placeholder="名称" formControlName="title" /></td>
                  <td>
                    <label>{{columOptions.controls.field._value}}</label>
                  </td>
                  <td>
                    <label>{{columOptions.controls.dataType._value}}</label>
                  </td>
                  <td>
                    <select class="form-control" formControlName="updateType" placeholder="修改方式">
                         <option *ngFor="let updateType of updateTypes" [value]="updateType.code">{{updateType.text}}</option>
                       </select>
                  </td>
                  <td>
                    <div class="checkbox checkbox-custom">
                      <input id="{{columOptions.controls.field._value}}view" type="checkbox" formControlName="view">
                      <label for="{{columOptions.controls.field._value}}view"></label>
                    </div>
                  </td>
                  <td>
                    <div class="checkbox checkbox-primary">
                      <input id="{{columOptions.controls.field._value}}inset" type="checkbox" formControlName="inset">
                      <label for="{{columOptions.controls.field._value}}inset"></label>
                    </div>
                  </td>
                  <td>
                    <div class="checkbox checkbox-success">
                      <input id="{{columOptions.controls.field._value}}visible" type="checkbox" formControlName="visible">
                      <label for="{{columOptions.controls.field._value}}visible"></label>
                    </div>
                  </td>
                  <td>
                    <select class="form-control" formControlName="fieldType" placeholder="字段类型">
                         <option *ngFor="let fieldType of fieldTypes" [value]="fieldType.code">{{fieldType.text}}</option>
                       </select>
                  </td>
                  <td>{{maxlength}}</td>
                  <td>

                    <!--更多设置-->
                    <ng-template #content let-c="close" let-d="dismiss">
                      <div class="modal-header">
                        <h4 class="modal-title">Options</h4>
                      </div>
                      <div class="modal-body">

                        <div class="form-group row">
                          <label class="col-sm-2 control-label">align</label>
                          <div class="col-sm-10">
                            <select class="form-control" formControlName="align" placeholder="align">
                                  <option *ngFor="let align of aligns" [value]="align.code">{{align.text}}</option>
                                </select>
                          </div>
                        </div>

                        <div class="form-group row">
                          <label class="col-sm-2 control-label">halign</label>
                          <div class="col-sm-10">
                            <select class="form-control" formControlName="halign" placeholder="halign">
                                <option *ngFor="let align of aligns" [value]="align.code">{{align.text}}</option>
                              </select>
                          </div>
                        </div>

                        <div class="form-group row">
                          <label class="col-sm-2 control-label">valign</label>
                          <div class="col-sm-10">
                            <select class="form-control" formControlName="valign" placeholder="valign">
                                 <option *ngFor="let valign of valigns" [value]="valign.code">{{valign.text}}</option>
                               </select>
                          </div>
                        </div>

                        <div class="form-group row">
                          <label class="col-sm-2 control-label">falign</label>
                          <div class="col-sm-10">
                            <select class="form-control" formControlName="falign" placeholder="falign">
                                  <option *ngFor="let valign of valigns" [value]="valign.code">{{valign.text}}</option>
                                </select>
                          </div>
                        </div>

                        <div class="form-group row">
                          <label class="col-sm-2 control-label">radio</label>
                          <div class="col-sm-10">
                            <div class="checkbox checkbox-info">
                              <input id="{{columOptions.controls.field._value}}radio" type="checkbox" formControlName="radio">
                              <label for="{{columOptions.controls.field._value}}radio"></label>
                            </div>
                          </div>
                        </div>

                        <div class="form-group row">
                          <label class="col-sm-2 control-label">checkbox</label>
                          <div class="col-sm-10">
                            <div class="checkbox checkbox-warning">
                              <input id="{{columOptions.controls.field._value}}checkbox" type="checkbox" formControlName="checkbox">
                              <label for="{{columOptions.controls.field._value}}checkbox"></label>
                            </div>
                          </div>
                        </div>

                        <div class="form-group row">
                          <label class="col-sm-2 control-label">cardVisible</label>
                          <div class="col-sm-10">
                            <div class="checkbox checkbox-purple">
                              <input id="{{columOptions.controls.field._value}}cardVisible" type="checkbox" formControlName="cardVisible">
                              <label for="{{columOptions.controls.field._value}}cardVisible"></label>
                            </div>
                          </div>
                        </div>

                        <div class="form-group row">
                          <label class="col-sm-2 control-label">switchable</label>
                          <div class="col-sm-10">
                            <div class="checkbox checkbox-warning">
                              <input id="{{columOptions.controls.field._value}}switchable" type="checkbox" formControlName="switchable">
                              <label for="{{columOptions.controls.field._value}}switchable"></label>
                            </div>
                          </div>
                        </div>

                        <div class="form-group row">
                          <label class="col-sm-2 control-label">clickToSelect</label>
                          <div class="col-sm-10">
                            <div class="checkbox checkbox-pink">
                              <input id="{{columOptions.controls.field._value}}clickToSelect" type="checkbox" formControlName="clickToSelect">
                              <label for="{{columOptions.controls.field._value}}clickToSelect"></label>
                            </div>
                          </div>
                        </div>

                        <div class="form-group row">
                          <label class="col-sm-2 control-label">sortable</label>
                          <div class="col-sm-10">
                            <div class="checkbox checkbox-pink">
                              <input id="{{columOptions.controls.field._value}}sortable" type="checkbox" formControlName="sortable">
                              <label for="{{columOptions.controls.field._value}}sortable"></label>
                            </div>
                          </div>
                        </div>

                        <div class="form-group row">
                          <label class="col-sm-2 control-label">searchable</label>
                          <div class="col-sm-10">
                            <div class="checkbox checkbox-pink">
                              <input id="{{columOptions.controls.field._value}}searchable" type="checkbox" formControlName="searchable">
                              <label for="{{columOptions.controls.field._value}}searchable"></label>
                            </div>
                          </div>
                        </div>

                        <div class="form-group row">
                          <label class="col-sm-2 control-label">width</label>
                          <div class="col-sm-10">
                            <input type="text" class="form-control" placeholder="width" formControlName="width" />
                          </div>
                        </div>

                        <!--<div class="form-group row">
                          <label class="col-sm-2 control-label">formatter</label>
                          <div class="col-sm-10">
                            <input type="text" class="form-control" placeholder="formatter" formControlName="formatter" />
                          </div>
                        </div>-->

                        <!--<div class="form-group row">
                          <label class="col-sm-2 control-label">footerFormatter</label>
                          <div class="col-sm-10">
                            <input type="text" class="form-control" placeholder="footerFormatter" formControlName="footerFormatter" />
                          </div>
                        </div>-->



                        <div class="form-group row">
                          <label class="col-sm-2 control-label">sortName</label>
                          <div class="col-sm-10">
                            <input type="text" class="form-control" placeholder="sortName" formControlName="sortName" />
                          </div>
                        </div>

                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
                      </div>
                    </ng-template>
                    <!--更多设置-->
                    <button type="button" class="btn btn-default waves-effect waves-light btn-sm" (click)="openMore(content)"> <i class="fa fa-ellipsis-h"></i></button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <!-- 设置列-->

    <!--数据过滤-->
    <div class="tab-pane" id="filter">

      <div class="form-group row">

        <!--列表数据-->
        <div class="col-sm-6">
          <div class="card-box overflow">
            <table class="table table table-hover table-bordered m-0 table-actions-bar">
              <!--formGroupName 作用域-->
              <thead>
                <tr class="trnowrap">
                  <th>名称</th>
                  <th>字段</th>
                  <th>数据类型</th>
                  <!--<th>字段类型</th>-->
                  <th>长度</th>
                </tr>
              </thead>
              <tbody>
                <!--<tr class="tr-center" *ngFor="let column of formData.columns; let idx=index" (click)="filterSelected(column)">-->
                <tr class="tr-center" *ngFor="let columOptions of ngbForm.controls.columns.controls;" (click)="filterSelected(columOptions)">
                  <td>{{columOptions.controls.title._value}}</td>
                  <td>{{columOptions.controls.field._value}}</td>
                  <td>{{columOptions.controls.dataType._value}}</td>
                  <!--<td>{{column.fieldType}}</td>-->
                  <td>{{columOptions.controls.maxlength._value}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <!--列表字段-->

        <div class="col-sm-6">
          <div class="card-box overflow">
            <table class="table table table-hover table-bordered m-0 table-actions-bar">
              <!--formGroupName 作用域-->
              <thead>
                <tr class="trnowrap">
                  <th>名称</th>
                  <th>字段</th>
                  <th>数据类型</th>
                  <th>表达式</th>
                  <th>字段类型</th>
                  <th>移除</th>
                </tr>
              </thead>
              <tbody formArrayName="dataFilters">
                <tr class="tr-center" *ngFor="let datafilter of ngbForm.controls.dataFilters.controls; let idx=index" [formGroupName]="idx">
                  <td>{{datafilter.controls.title._value}}</td>
                  <td>{{datafilter.controls.field._value}}</td>
                  <td>{{datafilter.controls.dataType._value}}</td>
                  <td>
                    <select class="form-control" formControlName="expression" placeholder="表达式">
                         <option *ngFor="let expression of expressions" [value]="expression.code">{{expression.text}}</option>
                       </select>
                  </td>
                  <td>
                    <select class="form-control" formControlName="fieldType" placeholder="字段类型">
                         <option *ngFor="let fieldType of fieldTypes" [value]="fieldType.code">{{fieldType.text}}</option>
                       </select>
                  </td>
                  <td>
                    <a class="table-action-btn" (click)="removeControls(ngbForm.controls.dataFilters,idx)">
                      <p><i class="md md-highlight-remove"></i></p>
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

      </div>
    </div>
    <!--数据过滤-->

    <div class="tab-pane" id="tree" formGroupName="treeOptions">
      <div class="form-group row">
        <label class="col-sm-2 control-label">是否显示</label>
        <div class="col-sm-10">
          <div class="checkbox checkbox-purple">
            <input id="isShow" type="checkbox" formControlName="show" (click)="showTreeCheck()">
            <label for="isShow"></label>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 control-label">enable</label>
        <div class="col-sm-10">
          <div class="checkbox checkbox-purple">
            <input id="enable" type="checkbox" formControlName="enable">
            <label for="enable"></label>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 control-label">sqlId</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" placeholder="sqlId" formControlName="sqlId" (click)="openZtreeSqlDefine()" readonly/>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 control-label">idKey</label>
        <div class="col-sm-10">
          <select class="form-control" formControlName="idKey" placeholder="idKey">
              <option *ngFor="let col of ztreeSqlDefineFields" [value]="col.field">{{col.field}}</option>
            </select>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 control-label">name</label>
        <div class="col-sm-10">
          <select class="form-control" formControlName="name" placeholder="name">
              <option *ngFor="let col of ztreeSqlDefineFields" [value]="col.field">{{col.field}}</option>
            </select>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 control-label">pIdKey</label>
        <div class="col-sm-10">
          <select class="form-control" formControlName="pIdKey" placeholder="pIdKey">
              <option *ngFor="let col of ztreeSqlDefineFields" [value]="col.field">{{col.field}}</option>
            </select>
        </div>
      </div>
     
      <!--<div class="form-group row">
        <label class="col-sm-2 control-label">url</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" placeholder="url" formControlName="url" />
        </div>
      </div>-->
      <div class="form-group row">
        <label class="col-sm-2 control-label">scope</label>
        <div class="col-sm-10">
          <select class="form-control" formControlName="scope" placeholder="scope">
                         <option *ngFor="let scope of scopes" [value]="scope.code">{{scope.text}}</option>
                       </select>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 control-label">width</label>
        <div class="col-sm-10">
          <select class="form-control" formControlName="width" placeholder="width">
            <option [value]="2">2</option>
            <option [value]="3">3</option>
            <option [value]="4">4</option>
            <option [value]="5">5</option>
            <option [value]="6">6</option>
          </select>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 control-label">relationField</label>
        <div class="col-sm-10">
          <select class="form-control" formControlName="relationField" placeholder="relationField">
                         <option *ngFor="let col of currentSqlDefineFields" [value]="col.field">{{col.field}}</option>
                       </select>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">

      <!--<div class="text-right p-20">-->
      <div class="text-right">
        <dl>
          <button type="button" class="btn w-sm btn-white waves-effect" (click)="cancel()">Cancel</button>
          <button type="submit" class="btn w-sm btn-default waves-effect waves-light" [disabled]="!ngbForm.valid">Save</button>
        </dl>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <div *ngIf="formErrors && formErrors.length > 0" class="alert alert-danger">
        <p *ngFor="let error of formErrors">{{ error }} <br></p>
      </div>
    </div>
  </div>
</form>