<!-- ========== Left Sidebar Start ========== -->

<div class="left side-menu">
    <div class="sidebar-inner slimscrollleft">
        <!--- Divider -->
        <div id="sidebar-menu">
            <ul>
                <!-- BEGIN RESPONSIVE QUICK SEARCH FORM -->
                <!--<li class="text-muted menu-title">
                    <form class="sidebar-search">
                        <input type="text" placeholder="Search..." class="search" />
                        <span class="ti-search" ng-click="search()"></span>
                    </form>
                </li>-->
                <!-- END RESPONSIVE QUICK SEARCH FORM -->

                <li class="text-muted menu-title">Navigation</li>

                <li class="has_sub">
                    <a  routerLink="main" class="waves-effect"><i class="ti-home"></i> <span> 首页 </span> </a>
                </li>

                <li class="has_sub">
                    <a  class="waves-effect" ><i class="ti-paint-bucket"></i> <span> SQL管理 </span> </a>
                    <ul class="list-unstyled">
                        <li><a routerLink="dataview/DV0000000000000001">SQLDEFINE LIST</a></li>
                        <li><a routerLink="dataviewlist">DATAVIEW LIST</a></li>
                        <!--<li><a routerLink="dataviewedit/DV0000000000000001">DataView Edit</a></li>-->
                        <li><a routerLink="dataviewcreate">DataView Create</a></li>
                        <li><a routerLink="formviewcreate">FormView Create</a></li>
                        <li><a routerLink="formview/201708282358">SQL DEFINE</a></li>
                    </ul>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<!-- Left Sidebar End -->