<!-- Begin page -->
<div id="wrapper">
    <home-topbar></home-topbar>
    <home-leftSidebar></home-leftSidebar>
    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->
    <div class="content-page">
        <!-- Start content -->
        <div class="content">
            <div class="container">
                    <router-outlet></router-outlet>
            </div>
            <!-- container -->
        </div>
        <!-- content -->

        <footer class="footer">
            2017 © Ubold.
        </footer>

    </div>
    <!-- ============================================================== -->
    <!-- End Right content here -->
    <!-- ============================================================== -->
    <home-rightSidebar></home-rightSidebar>

</div>
<!-- END wrapper -->