/**mt20**/
.mt20{
  margin-top: 8px;
}
.ml10 {
    margin-left: 10px;
}
.ml5 {
    margin-left: 5px;
}
.nowrap{
	white-space:nowrap; 
}

/*.modal-lg {
    max-width: 900px;
}*/

.modal-sm {
    max-width: 400px;
}

/* Form validation */
.ng-invalid {
  border-color: #ef4554 !important; }


.confirm-dialog {
    max-width: 500px;
    margin: 150px auto !important;
}