<div class="modal-header">
    <h4 class="modal-title"></h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
</div>
<div class="modal-body" [formGroup]="ngbForm">


    <div class="form-group row" *ngFor="let column of columns;">
        <label class="col-sm-2 control-label" *ngIf="column.fieldType != 'hidden' ">{{column.title}}</label>
        <div class="col-sm-10" [ngSwitch]="column.fieldType">

            <!--text-->
            <input type="text" *ngSwitchCase="DICT_COMPONENTTYPE.text"  class="form-control" placeholder="{{column.field}}" formControlName="{{column.field}}"/>

            <!--dropdown-->
             <ng4b-dropdown *ngSwitchCase="DICT_COMPONENTTYPE.dropdown" formControlName="{{column.field}}" dataFormat="{{column.dataFormat}}"></ng4b-dropdown>

            <!--textarea-->
             <textarea *ngSwitchCase="DICT_COMPONENTTYPE.textarea" rows="5" cols="20" class="form-control" placeholder="{{column.field}}" formControlName="{{column.field}}"></textarea>

            <!--radio-->
            <div *ngSwitchCase="DICT_COMPONENTTYPE.radio" class="checkbox checkbox-info">
                <input id="{{column.field}}_radio" type="checkbox" formControlName="{{column.field}}">
                <label for="{{column.field}}_radio"></label>
            </div>

            <!--文件上传 upload-->

            <!--日期 datetimepicker-->
            <ng4b-datetimepicker *ngSwitchCase="DICT_COMPONENTTYPE.datetimepicker" formControlName="{{column.field}}" placeholder="{{column.field}}" dataFormat="{{column.dataFormat}}"></ng4b-datetimepicker>

            <!-- 隐藏表单域 -->
            <input type="hidden" *ngSwitchCase="DICT_COMPONENTTYPE.hidden" formControlName="{{column.field}}"> 

            <!-- 编码器 -->
            <ng4b-code  *ngSwitchCase="DICT_COMPONENTTYPE.code" placeholder="{{column.field}}" formControlName="{{column.field}}"  dataFormat="{{column.dataFormat}}"></ng4b-code>
            
            <!-- 选择器 -->
            <!-- <input type="text" *ngSwitchCase="DICT_COMPONENTTYPE.selector"  class="form-control" placeholder="{{column.field}}" formControlName="{{column.field}}" dataFormat="{{column.dataFormat}}"/> -->

            <!--显示-->
            <ul class="parsley-errors-list filled" *ngIf="!isView && formgroups[column.field].invalid">
                <li class="parsley-required">
                    {{getErrorMessage(column)}}
                </li>
            </ul>
        </div>  
    </div>

</div>
<div class="modal-footer" >
     <form (ngSubmit)="onSubmit()">
         <button type="submit" class="btn w-sm btn-default waves-effect waves-light" [disabled]="!ngbForm.valid" *ngIf="!this.isView">保存</button>
         <button type="button" class="btn w-sm btn-white waves-effect" (click)="activeModal.dismiss()" >取消</button>
     </form>
</div>

