<!--新增列表单模板-->
<div class="modal-header">
    <h5 class="modal-title">SQL自定义</h5>
</div>
<div class="modal-body" [formGroup]="ngbForm">
    <div class="form-group row">
        <label class="col-sm-2 control-label">sqlId</label>
        <div class="col-sm-10">
            <ng4b-code placeholder="sqlId" formControlName="sqlId" [dataFormat]="codePrefix"></ng4b-code>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-2 control-label">别名</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" placeholder="别名" formControlName="sqlName" />
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-2 control-label">数据表</label>
        <div class="col-sm-10">
            <input type="text" (change)="queryTable()"  class="form-control" placeholder="数据表"  formControlName="table" />
        </div>
    </div>

    <div class="form-group row">
            <label class="col-sm-2 control-label"></label>
            <div class="col-sm-10">
                <table class="table table-bordered table-striped">
                    <tbody>
                        <tr *ngFor="let tb of tableList;">
                            <td (click)="querytableInfo(tb.tableName)">{{tb.tableName}}</td>
                            <td>{{tb.remark}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
    </div>
    
    <div class="form-group row">
        <label class="col-sm-2 control-label">主表</label>
        <div class="col-sm-10">
            <input type="text" readonly class="form-control" placeholder="主表" formControlName="mastertable" />
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-2 control-label">主键</label>
        <div class="col-sm-10">
            <input type="text" readonly class="form-control" placeholder="主键" formControlName="mastertableid" />
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-2 control-label">SQL</label>
        <div class="col-sm-10">
            <textarea rows="5" cols="20" class="form-control" placeholder="SQL" formControlName="selectsql"></textarea>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-2 control-label">子查询</label>
        <div class="col-sm-10">
            <textarea rows="5" cols="20" class="form-control" placeholder="子查询" formControlName="sqlexpand"></textarea>
        </div>
    </div>
    
    <div class="form-group row">
        <label class="col-sm-2 control-label">状态</label>
        <div class="col-sm-10">
            <select class="form-control" formControlName="status" placeholder="状态">
                <option *ngFor="let state of statusList" [value]="state.code">{{state.text}}</option>
            </select>
        </div>
    </div>
    
    <div class="form-group row">
        <label class="col-sm-2 control-label">备注</label>
        <div class="col-sm-10">
            <textarea rows="5" cols="20" class="form-control" placeholder="备注" formControlName="sqldesc"></textarea>
        </div>
    </div>

</div>
<div class="modal-footer">
      <form (ngSubmit)="onSubmit()">
        <button type="submit" class="btn w-sm btn-default waves-effect waves-light" [disabled]="!ngbForm.valid">保存</button>
        <button type="button" class="btn w-sm btn-white waves-effect" (click)="activeModal.dismiss()" >取消</button>
    </form>
</div>