<div class="bootstrap-filestyle input-group">
    <input type="text" class="form-control" 
    [placeholder]="placeholder"
    [ngModel]="formControlValue"
    [minlength]="minlength"
    [maxlength]="maxlength"
    [readonly]="readonly"
    [disabled]="disabled"
    >
    <span class="group-span-filestyle input-group-btn" tabindex="0" (click)="getCode()">
        <label for="filestyle-4" class="btn btn-primary ">
            <span class="icon-span-filestyle fa  fa-check-square-o"></span> 
<span class="buttonText"></span></label></span>
</div>