<div class="bootstrap-table">
    <div class="fixed-table-toolbar">
        <div class="columns columns-right btn-group pull-right">
            <!--<button class="btn btn-default" type="button" name="refresh" title="Refresh" (click)="refresh()" *ngIf="options.showRefresh"><i class="glyphicon glyphicon-refresh icon-refresh"></i></button>-->
            <!--<button class="btn btn-default" type="button" name="toggle" title="Toggle" (click)="toggle()" *ngIf="options.showToggle"><i class="glyphicon glyphicon-list-alt icon-list-alt"></i></button>-->
                <!--<div class="keep-open btn-group" title="Columns" *ngIf="options.showColumns">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        <i class="glyphicon glyphicon-th icon-th"></i> <span class="caret"></span></button>
                    <ul class="dropdown-menu" role="menu">
                        <li><label><input type="checkbox" data-field="id" value="1" checked="checked"> Order ID</label></li>
                        <li><label><input type="checkbox" data-field="name" value="2" checked="checked"> Name</label></li>
                        <li><label><input type="checkbox" data-field="date" value="3" checked="checked"> Order Date</label></li>
                        <li><label><input type="checkbox" data-field="amount" value="4" checked="checked"> Price</label></li>
                        <li><label><input type="checkbox" data-field="status" value="5" checked="checked"> Status</label></li>
                    </ul>
                </div>-->
        </div>
    </div>
    <div class="fixed-table-container" style="padding-bottom: 0px;">
        <div class="fixed-table-body">
            <div class="fixed-table-loading" style="top: 37px;">读取中....</div>
            <table class="table table table-hover table-bordered m-0 table-actions-bar">
                <thead>
                    <tr *ngIf="options.showHeader">
                        <th *ngFor="let item of options.columns" valign="item.halign" width="item.width">
                            <p *ngIf="item.visible">{{item.title}}</p>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="no-records-found" *ngIf="options.data.length <= 0">
                        <td colspan="options.data && options.data.length">{{options.undefinedText}}</td>
                    </tr>
                    <tr *ngFor="let data of options.data">
                        <td *ngFor="let item of options.columns"  scope="row" align="item.align" valign="item.valign" width="item.width">
                            <!--view mode-->
                            <label *ngIf="!options.editView && item.visible">{{data[item.field]}}</label>
                            
                            <!--edit mode-->
                            <div *ngIf="options.editView" [ngSwitch]="item.fieldType">
                                
                                 <!--文本-->
                                 <input type="text" class="form-control" placeholder="item.title" 
                                        *ngSwitchDefault [(ngModel)]="data[item.field]" />

                                 <!--checkbox-->
                                 <input type="checkbox" [checked]="data[item.field]"  (click)="alert()"
                                  *ngSwitchCase="'checkbox'"/> 

                            </div>
                        </td>
                    </tr>

                    <!--行2格式-->
                    <!--<tr>
                        <div class="card-view" *ngFor="let data of options.data">
                            <span class="title"></span>
                            <span class="value"></span>
                        </div>
                    </tr>-->
                </tbody>
            </table>
        </div>

        <div class="fixed-table-pagination">
            <!--<div class="pull-left pagination-detail">
                    <span class="pagination-info">Showing 1 to 5 of 16 rows</span>
                    <span class="page-list"><span class="btn-group dropup">
                        <button type="button" class="btn btn-default  dropdown-toggle" data-toggle="dropdown">
                            <span class="page-size">5</span>                    
                            <span class="caret"></span></button>
                    <ul class="dropdown-menu" role="menu">
                        <li class="active"><a href="javascript:void(0)">5</a></li>
                        <li><a href="javascript:void(0)">10</a></li>
                        <li><a href="javascript:void(0)">20</a></li>
                    </ul>
                    </span> records per page</span>
                </div>-->
            <div class="pull-right pagination" *ngIf="options.pagination">
                <ngb-pagination [collectionSize]="options.collectionSize" 
                    [(page)]="options.pageNumber" 
                    [maxSize]="(options.collectionSize + options.pageSize - 1 ) / options.pageSize" [rotate]="true"
                    [boundaryLinks]="true"></ngb-pagination>
            </div>
        </div>
    </div>

</div>